name: Validate CloudFormation Templates

on:
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install cfn-lint
        run: pip install cfn-lint

      - name: Lint iam-policy.yaml
        run: cfn-lint src/iam-policy.yaml

      - name: Lint lambda-stack.yaml
        run: cfn-lint src/lambda-stack.yaml
